body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
}

header {
  text-align: center;
  padding: 30px;
}

input {
  width: 90%;
  max-width: 400px;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

#prompts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
}
.prompt-card {
  background: #0f172a;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  height: 80px;
  background: #020617;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}
.prompt-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
}
button {
  margin-top: 10px;
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
}
